Solutions/Palo Alto Cortex Cloud/Cortex-Cloud-Sentinel-Solution/Playbooks/CortexCloud-EnrichIssue-v2-ARM.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "defaultValue": "CortexCloud-EnrichIssue-v2",
      "type": "string"
    },
    "CortexCloudFqdn": {
      "type": "string"
    },
    "CortexCloudApiKeyId": {
      "type": "string"
    },
    "KeyVaultName": {
      "type": "string"
    },
    "ApiKeySecretName": {
      "defaultValue": "CortexCloudApiKey",
      "type": "string"
    }
  },
  "variables": {
    "SentinelConnectionName": "[concat('sentinel-', parameters('PlaybookName'))]",
    "KeyVaultConnectionName": "[concat('keyvault-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('SentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('SentinelConnectionName')]",
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('KeyVaultConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('KeyVaultConnectionName')]",
        "parameterValueType": "Alternative",
        "alternativeParameterValues": {
          "vaultName": "[parameters('KeyVaultName')]"
        },
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('KeyVaultConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "CortexCloudFqdn": {
              "defaultValue": "[parameters('CortexCloudFqdn')]",
              "type": "String"
            },
            "CortexCloudApiKeyId": {
              "defaultValue": "[parameters('CortexCloudApiKeyId')]",
              "type": "String"
            }
          },
          "triggers": {
            "incident_trigger": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_API_Key": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent('CortexCloudApiKey')}/value"
              }
            },
            "Parse_Custom_Details": {
              "runAfter": {
                "Get_API_Key": ["Succeeded"]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['object']?['properties']?['additionalData']?['customDetails']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "IssueId": {"type": "array"}
                  }
                }
              }
            },
            "Search_Issue": {
              "runAfter": {
                "Parse_Custom_Details": ["Succeeded"]
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://api-@{parameters('CortexCloudFqdn')}/public_api/v1/issue/search",
                "headers": {
                  "x-xdr-auth-id": "@parameters('CortexCloudApiKeyId')",
                  "Authorization": "@{body('Get_API_Key')?['value']}",
                  "Content-Type": "application/json"
                },
                "body": {
                  "request_data": {
                    "filters": [
                      {
                        "field": "issue_id",
                        "operator": "eq",
                        "value": "@{first(body('Parse_Custom_Details')?['IssueId'])}"
                      }
                    ]
                  }
                }
              }
            },
            "Add_Comment": {
              "runAfter": {
                "Search_Issue": ["Succeeded"]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "Cortex Cloud Issue Enrichment: @{body('Search_Issue')}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment"
              }
            }
          }
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('SentinelConnectionName'))]",
                "connectionName": "[variables('SentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "keyvault": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('KeyVaultConnectionName'))]",
                "connectionName": "[variables('KeyVaultConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ]
}
