Solutions/Palo Alto Cortex Cloud/Cortex-Cloud-Sentinel-Solution/Playbooks/CortexCloud-UpdateCaseStatus.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "defaultValue": "CortexCloud-UpdateCaseStatus",
      "type": "string"
    },
    "CortexCloudFqdn": {
      "type": "string",
      "metadata": {
        "description": "Cortex Cloud FQDN (e.g., acme.cortex.paloaltonetworks.com)"
      }
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "tags": {
        "LogicAppsCategory": "security",
        "hidden-SentinelTemplateName": "CortexCloud-UpdateCaseStatus",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "CortexCloudFqdn": {
              "defaultValue": "[parameters('CortexCloudFqdn')]",
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_API_Key_from_Key_Vault": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent('CortexCloudApiKey')}/value"
              }
            },
            "Parse_incident_properties": {
              "runAfter": {
                "Get_API_Key_from_Key_Vault": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['object']?['properties']",
                "schema": {
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "title": {
                      "type": "string"
                    },
                    "additionalData": {
                      "type": "object"
                    }
                  },
                  "type": "object"
                }
              }
            },
            "For_each_alert": {
              "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
              "actions": {
                "Parse_alert_custom_details": {
                  "runAfter": {},
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('For_each_alert')?['properties']?['additionalData']?['Custom Details']",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "CaseId": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "CaseNumber": {
                          "type": "array"
                        }
                      }
                    }
                  }
                },
                "Condition_-_Check_if_CaseId_exists": {
                  "actions": {
                    "Set_CaseId_variable": {
                      "runAfter": {},
                      "type": "SetVariable",
                      "inputs": {
                        "name": "CaseId",
                        "value": "@{first(body('Parse_alert_custom_details')?['CaseId'])}"
                      }
                    },
                    "Determine_Cortex_Cloud_Status": {
                      "runAfter": {
                        "Set_CaseId_variable": [
                          "Succeeded"
                        ]
                      },
                      "type": "Switch",
                      "expression": "@body('Parse_incident_properties')?['status']",
                      "cases": {
                        "Active": {
                          "case": "Active",
                          "actions": {
                            "Set_Status_to_InProgress": {
                              "runAfter": {},
                              "type": "SetVariable",
                              "inputs": {
                                "name": "CortexCloudStatus",
                                "value": "in_progress"
                              }
                            }
                          }
                        },
                        "Closed": {
                          "case": "Closed",
                          "actions": {
                            "Set_Status_to_Closed": {
                              "runAfter": {},
                              "type": "SetVariable",
                              "inputs": {
                                "name": "CortexCloudStatus",
                                "value": "closed"
                              }
                            }
                          }
                        }
                      },
                      "default": {
                        "actions": {
                          "Set_Status_to_Open": {
                            "runAfter": {},
                            "type": "SetVariable",
                            "inputs": {
                              "name": "CortexCloudStatus",
                              "value": "open"
                            }
                          }
                        }
                      }
                    },
                    "Update_Case_in_Cortex_Cloud": {
                      "runAfter": {
                        "Determine_Cortex_Cloud_Status": [
                          "Succeeded"
                        ]
                      },
                      "type": "Http",
                      "inputs": {
                        "method": "PUT",
                        "uri": "https://api-@{parameters('CortexCloudFqdn')}/cases/v1/cases/@{variables('CaseId')}",
                        "headers": {
                          "x-api-key": "@{body('Get_API_Key_from_Key_Vault')?['value']}",
                          "Content-Type": "application/json"
                        },
                        "body": {
                          "status": "@variables('CortexCloudStatus')",
                          "updatedBy": "Microsoft Sentinel Automation"
                        }
                      }
                    },
                    "Add_comment_to_incident_-_Success": {
                      "runAfter": {
                        "Update_Case_in_Cortex_Cloud": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p><strong>Cortex Cloud Case Status Updated</strong><br>\n<br>\n<strong>Case ID:</strong> @{variables('CaseId')}<br>\n<strong>New Status:</strong> @{variables('CortexCloudStatus')}<br>\n<strong>Sentinel Status:</strong> @{body('Parse_incident_properties')?['status']}<br>\n<strong>Updated:</strong> @{utcNow()}<br>\n<br>\nCase status has been synchronized with Cortex Cloud.</p>"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/Incidents/Comment"
                      }
                    },
                    "Add_comment_to_incident_-_Failure": {
                      "runAfter": {
                        "Update_Case_in_Cortex_Cloud": [
                          "Failed",
                          "TimedOut"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p><strong>⚠️ Failed to Update Cortex Cloud Case</strong><br>\n<br>\n<strong>Case ID:</strong> @{variables('CaseId')}<br>\n<strong>Error:</strong> @{body('Update_Case_in_Cortex_Cloud')}<br>\n<br>\nPlease update the case status manually in Cortex Cloud.</p>"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/Incidents/Comment"
                      }
                    }
                  },
                  "runAfter": {
                    "Parse_alert_custom_details": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('Parse_alert_custom_details')?['CaseId']",
                            "@null"
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Initialize_CortexCloudStatus_variable": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Initialize_CaseId_variable": {
              "runAfter": {
                "Parse_incident_properties": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "CaseId",
                    "type": "string"
                  }
                ]
              }
            },
            "Initialize_CortexCloudStatus_variable": {
              "runAfter": {
                "Initialize_CaseId_variable": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "CortexCloudStatus",
                    "type": "string"
                  }
                ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ]
}
