Solutions/Palo Alto Cortex Cloud/Cortex-Cloud-Sentinel-Solution/Playbooks/CortexCloud-UpdateCaseStatus-v2-ARM.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "defaultValue": "CortexCloud-UpdateCaseStatus-v2",
      "type": "string"
    },
    "CortexCloudFqdn": {
      "type": "string",
      "metadata": {
        "description": "Cortex Cloud FQDN (e.g., your-tenant.xdr.us.paloaltonetworks.com)"
      }
    },
    "CortexCloudApiKeyId": {
      "type": "string",
      "metadata": {
        "description": "Cortex Cloud API Key ID"
      }
    },
    "KeyVaultName": {
      "type": "string",
      "metadata": {
        "description": "Name of Key Vault containing the API key secret"
      }
    },
    "ApiKeySecretName": {
      "type": "string",
      "defaultValue": "CortexCloudApiKey",
      "metadata": {
        "description": "Name of the secret in Key Vault containing the API key"
      }
    }
  },
  "variables": {
    "MicrosoftSentinelConnectionName": "[concat('microsoftsentinel-', parameters('PlaybookName'))]",
    "KeyVaultConnectionName": "[concat('keyvault-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('MicrosoftSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "kind": "V1",
      "properties": {
        "displayName": "[variables('MicrosoftSentinelConnectionName')]",
        "customParameterValues": {},
        "parameterValueType": "Alternative",
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('KeyVaultConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('KeyVaultConnectionName')]",
        "parameterValueType": "Alternative",
        "alternativeParameterValues": {
          "vaultName": "[parameters('KeyVaultName')]"
        },
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('KeyVaultConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "CortexCloudFqdn": {
              "defaultValue": "[parameters('CortexCloudFqdn')]",
              "type": "String"
            },
            "CortexCloudApiKeyId": {
              "defaultValue": "[parameters('CortexCloudApiKeyId')]",
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_API_Key_from_Key_Vault": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "[concat('/secrets/@{encodeURIComponent(''', parameters('ApiKeySecretName'), ''')}/value')]"
              }
            },
            "Parse_alert_custom_details": {
              "runAfter": {
                "Get_API_Key_from_Key_Vault": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@triggerBody()?['object']?['properties']?['additionalData']?['alertProductNames']",
                "schema": {
                  "type": "object",
                  "properties": {
                    "CaseId": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            },
            "Get_incident_status": {
              "runAfter": {
                "Parse_alert_custom_details": [
                  "Succeeded"
                ]
              },
              "type": "Compose",
              "inputs": "@triggerBody()?['object']?['properties']?['status']"
            },
            "Map_Sentinel_status_to_Cortex": {
              "runAfter": {
                "Get_incident_status": [
                  "Succeeded"
                ]
              },
              "type": "InitializeVariable",
              "inputs": {
                "variables": [
                  {
                    "name": "CortexStatus",
                    "type": "string",
                    "value": "@{if(equals(outputs('Get_incident_status'), 'Active'), 'in_progress', if(equals(outputs('Get_incident_status'), 'Closed'), 'closed', 'new'))}"
                  }
                ]
              }
            },
            "Update_Case_Status_in_Cortex_Cloud": {
              "runAfter": {
                "Map_Sentinel_status_to_Cortex": [
                  "Succeeded"
                ]
              },
              "type": "Http",
              "inputs": {
                "method": "POST",
                "uri": "https://api-@{parameters('CortexCloudFqdn')}/public_api/v1/case/update",
                "headers": {
                  "x-xdr-auth-id": "@parameters('CortexCloudApiKeyId')",
                  "Authorization": "@{body('Get_API_Key_from_Key_Vault')?['value']}",
                  "Content-Type": "application/json"
                },
                "body": {
                  "request_data": {
                    "case_id": "@{first(body('Parse_alert_custom_details')?['CaseId'])}",
                    "update_data": {
                      "status": "@{variables('CortexStatus')}"
                    }
                  }
                }
              }
            },
            "Parse_Update_Response": {
              "runAfter": {
                "Update_Case_Status_in_Cortex_Cloud": [
                  "Succeeded"
                ]
              },
              "type": "ParseJson",
              "inputs": {
                "content": "@body('Update_Case_Status_in_Cortex_Cloud')",
                "schema": {
                  "type": "object",
                  "properties": {
                    "reply": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            },
            "Add_comment_to_incident": {
              "runAfter": {
                "Parse_Update_Response": [
                  "Succeeded"
                ]
              },
              "type": "ApiConnection",
              "inputs": {
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><strong>Cortex Cloud Case Status Update:</strong><br>\nCase ID: @{first(body('Parse_alert_custom_details')?['CaseId'])}<br>\nSentinel Status: @{outputs('Get_incident_status')}<br>\nCortex Status: @{variables('CortexStatus')}<br>\nUpdate Result: @{body('Parse_Update_Response')?['reply']?['status']}</p>"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "method": "post",
                "path": "/Incidents/Comment"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('MicrosoftSentinelConnectionName'))]",
                "connectionName": "[variables('MicrosoftSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              },
              "keyvault": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('KeyVaultConnectionName'))]",
                "connectionName": "[variables('KeyVaultConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/keyvault')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "PlaybookName": {
      "type": "string",
      "value": "[parameters('PlaybookName')]"
    },
    "PlaybookResourceId": {
      "type": "string",
      "value": "[resourceId('Microsoft.Logic/workflows', parameters('PlaybookName'))]"
    }
  }
}
