Solutions/Palo Alto Cortex Cloud/Cortex-Cloud-Sentinel-Solution/Playbooks/CortexCloud-EnrichIssue.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "defaultValue": "CortexCloud-EnrichIssue",
      "type": "string"
    },
    "CortexCloudFqdn": {
      "type": "string",
      "metadata": {
        "description": "Cortex Cloud FQDN (e.g., acme.cortex.paloaltonetworks.com)"
      }
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "CortexCloudApiConnectionName": "[concat('cortexcloud-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "tags": {
        "LogicAppsCategory": "security",
        "hidden-SentinelTemplateName": "CortexCloud-EnrichIssue",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "CortexCloudFqdn": {
              "defaultValue": "[parameters('CortexCloudFqdn')]",
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "For_each_alert": {
              "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
              "actions": {
                "Parse_alert_custom_details": {
                  "runAfter": {},
                  "type": "ParseJson",
                  "inputs": {
                    "content": "@items('For_each_alert')?['properties']?['additionalData']?['Custom Details']",
                    "schema": {
                      "type": "object",
                      "properties": {
                        "IssueId": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "IssueCategory": {
                          "type": "array"
                        },
                        "IssueSeverity": {
                          "type": "array"
                        }
                      }
                    }
                  }
                },
                "Condition_-_Check_if_IssueId_exists": {
                  "actions": {
                    "Get_Issue_Details_from_Cortex_Cloud": {
                      "runAfter": {},
                      "type": "Http",
                      "inputs": {
                        "method": "GET",
                        "uri": "https://api-@{parameters('CortexCloudFqdn')}/issues/v1/issues/@{first(body('Parse_alert_custom_details')?['IssueId'])}",
                        "headers": {
                          "x-api-key": "@{body('Get_API_Key_from_Key_Vault')?['value']}",
                          "Content-Type": "application/json"
                        }
                      }
                    },
                    "Parse_Issue_Details": {
                      "runAfter": {
                        "Get_Issue_Details_from_Cortex_Cloud": [
                          "Succeeded"
                        ]
                      },
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@body('Get_Issue_Details_from_Cortex_Cloud')",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "issueId": {
                              "type": "string"
                            },
                            "title": {
                              "type": "string"
                            },
                            "description": {
                              "type": "string"
                            },
                            "severity": {
                              "type": "string"
                            },
                            "status": {
                              "type": "string"
                            },
                            "affectedAssets": {
                              "type": "array"
                            }
                          }
                        }
                      }
                    },
                    "Add_comment_to_incident": {
                      "runAfter": {
                        "Parse_Issue_Details": [
                          "Succeeded"
                        ]
                      },
                      "type": "ApiConnection",
                      "inputs": {
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p><strong>Cortex Cloud Issue Enrichment</strong><br>\n<br>\n<strong>Issue ID:</strong> @{body('Parse_Issue_Details')?['issueId']}<br>\n<strong>Title:</strong> @{body('Parse_Issue_Details')?['title']}<br>\n<strong>Severity:</strong> @{body('Parse_Issue_Details')?['severity']}<br>\n<strong>Status:</strong> @{body('Parse_Issue_Details')?['status']}<br>\n<strong>Description:</strong> @{body('Parse_Issue_Details')?['description']}<br>\n<br>\n<strong>Affected Assets Count:</strong> @{length(body('Parse_Issue_Details')?['affectedAssets'])}</p>"
                        },
                        "host": {
                          "connection": {
                            "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                          }
                        },
                        "method": "post",
                        "path": "/Incidents/Comment"
                      }
                    }
                  },
                  "runAfter": {
                    "Parse_alert_custom_details": [
                      "Succeeded"
                    ]
                  },
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [
                            "@body('Parse_alert_custom_details')?['IssueId']",
                            "@null"
                          ]
                        }
                      }
                    ]
                  },
                  "type": "If"
                }
              },
              "runAfter": {
                "Get_API_Key_from_Key_Vault": [
                  "Succeeded"
                ]
              },
              "type": "Foreach"
            },
            "Get_API_Key_from_Key_Vault": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent('CortexCloudApiKey')}/value"
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ]
}
