Solutions/Palo Alto Cortex Cloud/Cortex-Cloud-Sentinel-Solution/Playbooks/CortexCloud-CloseCase.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "parameters": {
    "PlaybookName": {
      "defaultValue": "CortexCloud-CloseCase",
      "type": "string"
    },
    "CortexCloudFqdn": {
      "type": "string",
      "metadata": {
        "description": "Cortex Cloud FQDN (e.g., acme.cortex.paloaltonetworks.com)"
      }
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[resourceGroup().location]",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[resourceGroup().location]",
      "tags": {
        "LogicAppsCategory": "security",
        "hidden-SentinelTemplateName": "CortexCloud-CloseCase",
        "hidden-SentinelTemplateVersion": "1.0"
      },
      "identity": {
        "type": "SystemAssigned"
      },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": {
              "defaultValue": {},
              "type": "Object"
            },
            "CortexCloudFqdn": {
              "defaultValue": "[parameters('CortexCloudFqdn')]",
              "type": "String"
            }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": {
                  "callback_url": "@{listCallbackUrl()}"
                },
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                  }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Get_API_Key_from_Key_Vault": {
              "runAfter": {},
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": {
                    "name": "@parameters('$connections')['keyvault']['connectionId']"
                  }
                },
                "method": "get",
                "path": "/secrets/@{encodeURIComponent('CortexCloudApiKey')}/value"
              }
            },
            "Check_if_incident_is_closed": {
              "actions": {
                "Get_incident_comments": {
                  "runAfter": {},
                  "type": "ApiConnection",
                  "inputs": {
                    "host": {
                      "connection": {
                        "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                      }
                    },
                    "method": "get",
                    "path": "/Incidents/Comments",
                    "queries": {
                      "incidentArmId": "@triggerBody()?['object']?['id']"
                    }
                  }
                },
                "Build_closure_notes": {
                  "runAfter": {
                    "Get_incident_comments": [
                      "Succeeded"
                    ]
                  },
                  "type": "Compose",
                  "inputs": "Incident closed in Microsoft Sentinel.\n\nIncident Title: @{triggerBody()?['object']?['properties']?['title']}\nClosure Classification: @{triggerBody()?['object']?['properties']?['classification']}\nClosure Reason: @{triggerBody()?['object']?['properties']?['classificationReason']}\nClosed By: @{triggerBody()?['object']?['properties']?['owner']?['email']}\nClosed At: @{utcNow()}\n\nRecent Comments:\n@{body('Get_incident_comments')}"
                },
                "For_each_alert": {
                  "foreach": "@triggerBody()?['object']?['properties']?['Alerts']",
                  "actions": {
                    "Parse_alert_custom_details": {
                      "runAfter": {},
                      "type": "ParseJson",
                      "inputs": {
                        "content": "@items('For_each_alert')?['properties']?['additionalData']?['Custom Details']",
                        "schema": {
                          "type": "object",
                          "properties": {
                            "CaseId": {
                              "type": "array",
                              "items": {
                                "type": "string"
                              }
                            }
                          }
                        }
                      }
                    },
                    "Condition_-_Check_if_CaseId_exists": {
                      "actions": {
                        "Add_closing_comment_to_Cortex_Cloud": {
                          "runAfter": {},
                          "type": "Http",
                          "inputs": {
                            "method": "POST",
                            "uri": "https://api-@{parameters('CortexCloudFqdn')}/cases/v1/cases/@{first(body('Parse_alert_custom_details')?['CaseId'])}/comments",
                            "headers": {
                              "x-api-key": "@{body('Get_API_Key_from_Key_Vault')?['value']}",
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "comment": "@{outputs('Build_closure_notes')}",
                              "author": "Microsoft Sentinel Automation"
                            }
                          }
                        },
                        "Close_Case_in_Cortex_Cloud": {
                          "runAfter": {
                            "Add_closing_comment_to_Cortex_Cloud": [
                              "Succeeded",
                              "Failed"
                            ]
                          },
                          "type": "Http",
                          "inputs": {
                            "method": "PUT",
                            "uri": "https://api-@{parameters('CortexCloudFqdn')}/cases/v1/cases/@{first(body('Parse_alert_custom_details')?['CaseId'])}",
                            "headers": {
                              "x-api-key": "@{body('Get_API_Key_from_Key_Vault')?['value']}",
                              "Content-Type": "application/json"
                            },
                            "body": {
                              "status": "closed",
                              "closedBy": "@{triggerBody()?['object']?['properties']?['owner']?['email']}",
                              "closedTime": "@{utcNow()}",
                              "resolution": "@{triggerBody()?['object']?['properties']?['classificationReason']}",
                              "closureNotes": "@{outputs('Build_closure_notes')}"
                            }
                          }
                        },
                        "Add_comment_-_Closure_Success": {
                          "runAfter": {
                            "Close_Case_in_Cortex_Cloud": [
                              "Succeeded"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "incidentArmId": "@triggerBody()?['object']?['id']",
                              "message": "<p><strong>✅ Cortex Cloud Case Closed Successfully</strong><br>\n<br>\n<strong>Case ID:</strong> @{first(body('Parse_alert_custom_details')?['CaseId'])}<br>\n<strong>Closed By:</strong> @{triggerBody()?['object']?['properties']?['owner']?['email']}<br>\n<strong>Closed At:</strong> @{utcNow()}<br>\n<strong>Classification:</strong> @{triggerBody()?['object']?['properties']?['classification']}<br>\n<strong>Reason:</strong> @{triggerBody()?['object']?['properties']?['classificationReason']}<br>\n<br>\nClosure notes and comments have been added to the case in Cortex Cloud.</p>"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                          }
                        },
                        "Add_comment_-_Closure_Failure": {
                          "runAfter": {
                            "Close_Case_in_Cortex_Cloud": [
                              "Failed",
                              "TimedOut"
                            ]
                          },
                          "type": "ApiConnection",
                          "inputs": {
                            "body": {
                              "incidentArmId": "@triggerBody()?['object']?['id']",
                              "message": "<p><strong>⚠️ Failed to Close Cortex Cloud Case</strong><br>\n<br>\n<strong>Case ID:</strong> @{first(body('Parse_alert_custom_details')?['CaseId'])}<br>\n<strong>Error:</strong> @{body('Close_Case_in_Cortex_Cloud')}<br>\n<br>\nPlease close the case manually in Cortex Cloud and add closure notes.</p>"
                            },
                            "host": {
                              "connection": {
                                "name": "@parameters('$connections')['azuresentinel']['connectionId']"
                              }
                            },
                            "method": "post",
                            "path": "/Incidents/Comment"
                          }
                        }
                      },
                      "runAfter": {
                        "Parse_alert_custom_details": [
                          "Succeeded"
                        ]
                      },
                      "expression": {
                        "and": [
                          {
                            "not": {
                              "equals": [
                                "@body('Parse_alert_custom_details')?['CaseId']",
                                "@null"
                              ]
                            }
                          }
                        ]
                      },
                      "type": "If"
                    }
                  },
                  "runAfter": {
                    "Build_closure_notes": [
                      "Succeeded"
                    ]
                  },
                  "type": "Foreach"
                }
              },
              "runAfter": {
                "Get_API_Key_from_Key_Vault": [
                  "Succeeded"
                ]
              },
              "expression": {
                "and": [
                  {
                    "equals": [
                      "@triggerBody()?['object']?['properties']?['status']",
                      "Closed"
                    ]
                  }
                ]
              },
              "type": "If"
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', resourceGroup().location, '/managedApis/azuresentinel')]",
                "connectionProperties": {
                  "authentication": {
                    "type": "ManagedServiceIdentity"
                  }
                }
              }
            }
          }
        }
      }
    }
  ]
}
